.c--slider-effect-cards {
  overflow: visible;

  .sliderkit__wrapper {
    position: relative;
  }

  .sliderkit__item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: transform 300ms ease, opacity 300ms ease;
    transform-origin: center bottom;
  }
}
