.c--slider-effect-fade {
  .c--slider-a__wrapper {
    position: relative;
  }

  .c--slider-a__item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0;
    transition: opacity 300ms ease;

    &--active {
      opacity: 1;
      pointer-events: auto;
    }
  }
}
