.c--slider-effect-flip {
  .sliderkit__wrapper {
    transform-style: preserve-3d;
    perspective: 1200px;
  }

  .sliderkit__item {
    backface-visibility: hidden;
    transition: transform 300ms ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}
