@use 'variables' as *;

.sliderkit {
  &__slide {
    img {
      display: block;
      max-width: 100%;
      width: 100%;
      height: auto;
    }

    &--visible {
      // Visible but not active slide
    }

    &--prev {
      // Previous slide
    }

    &--next {
      // Next slide
    }
  }
}
